/**** STYLE RESET ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/**** GENERAL STRUCTURE ****/
body {
  background: #f7f7f7;
}

.wrapper {
  width: 90%;
  margin: 20px auto;
  padding: 0 3% 25px;
  background: #ffffff;
}

nav {
  width: 100%;
  background: #777777;
}

nav a {
  display: inline-block;
  color: #f7f7f7;
  padding: 20px 0 20px 15px;

}



/**** FORM-ATTING ****/

input {
  display: block;
  margin: 25px 0 0;
  padding: 5px;
  background: #f7f7f7;
  outline: none;
  border: none;
}

input:focus {
  background: #eeeeee;
}

input[type=checkbox] {
  display: inline-block;
  margin: 0 .25em 0 2em;
}


button {
  border 1px solid #eeeeee;
  border-style: solid;
  background: #f7f7f7;
  padding: 5px;
  margin: 25px 0;
  outline: none;
  cursor: pointer;
}

button:active {
  background: #eeeeee;

}

form p {
  margin: 25px 0 0;
  color: #555555;
}