/**** STYLE RESET ****/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arvo, Helvetica, sans-serif;
}

/**** GENERAL STRUCTURE ****/
body {
  background: repeating-linear-gradient(
  45deg,
  #334366,
  #334366 3px,
  #333358 3px,
  #333358 6px
);
  background-size: 9px 9px;
  
}

.tab {
  width: 22%;
  margin: 25px 0 0 5%;
  background: #FFF2DF;
  height: 30px;
  border-radius: 15px 15px 0 0;
  box-shadow: -5px 5px 5px #0F224A;
  position: relative;
  top: 1px;
  z-index: -1;
}

.tab:after {
  position: absolute;
  content: " ";
  width: 15px;
  height: 15px;
  color: red;
  top: 15px;
  right: -15px;
  
  box-shadow: -4px 4px 0 #FFF2DF;
 
  border-radius: 0 0 0 10px;

}

.wrapper {
  width: 90%;
  margin: 0 auto 25px;
  padding: 0 3% 25px;
  background: #FFF2DF;
  border-radius: 0 15px 15px 15px;
  box-shadow: -5px 5px 5px #0F224A;
}

nav {
  width: 100%;
  background: rgba(168,181,205, 0.8);
}

nav a {
  display: inline-block;
  color: #404B72;
  padding: 20px 15px 20px 15px;
  font-size: 0.8em;

}

nav a:hover {
  background: #232A48;
  color: #b8d9dd;
}

ul {
  list-style: none;
}

ul li {
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #334366;
}

a:hover {
  color: #50639d;
}

h1 {
  margin: 0 0 10px 0;
  padding: 25px 0 10px 0;
}

h3 {
  margin: 10px 0;
}

h3.recipe-link {
  margin: 0 0 25px 0;
}

.external-link {
  font-size: 0.8em;
  margin: 0 .5em;
}

/**** ERROR MESSAGE DISPLAY ****/

.error-message {
  background: #e60000;
  color: #ffffff;
  text-align: center;
  padding: 10px 0;
}


/**** FORM-ATTING ****/

input {
  display: block;
  margin: 0 0 25px 0;
  padding: 5px;
  background: rgba(168,181,205, 0.2);
  outline: none;
  border: none;
}

input:focus {
 background: rgba(168,181,205, 0.8);
}

input[type=checkbox] {
  display: inline-block;
  margin: 0 .25em 25px 2em;
}

input[type=text], 
input[type=password], 
input[type=email] {
  border-radius: 6px;
}


.margin-collapse {
  margin: 5px 0;
}


button {
  
  border-style: none;
  border-radius: 5px;
  background: #333358;
  color: #eeeeee;
  padding: 5px 10px;
  margin: 25px 0;
  outline: none;
  cursor: pointer;
}

button:hover {
  background: #232A48;
}

button:active {
  background: #334366;

}

form p {
  margin: 20px 0 5px;
  color: #555555;
}

p.checkbox-label {
  margin: 0 0 10px;
}

p.checkbox-label input {
  margin: 5px 5px 0 10px;
}

h1 form {
  display: inline-block;
  font-size: 0.45em;
  position: relative;
  font-weight: normal;
  top: -5px;
}

h1 form button {
  margin: 0 0 0 5px;
}