<h1>Create a new recipe:</h1>

<form action="/recipes" method="POST">
  <input type="text" name="recipe[name]" placeholder="Recipe name">
  
  <input type="text" name="recipe[link]" placeholder="Recipe link">
  <p>Choose key ingredients:</p>

   <div class="multi-column-list">
    <% @ingredients.each do |ingredient| %>
     
        <p class="checkbox-label">
          <input type="checkbox" name="recipe[ingredient_ids][]" value="<%= ingredient.id %>"><%= ingredient.name %></input>
          </p>
      
    <% end %>
  </div>

  <input type="text" name="ingredient[name]" placeholder="or add a new ingredient">


  <p>Choose categories:</p>
  <% @types.each do |type| %>
    <p class="checkbox-label"><input type="checkbox" name="recipe[type_ids][]" value="<%= type.id %>"><%= type.name %></input></p>
  <% end %>

  
  <input type="text" name="type[name]" placeholder="or add a new category">

  <input type="text" name="recipe[cooking_time]" placeholder="Cooking Time">

  <button type="submit">Create recipe</button>
</form>