<h1><%= @user.username %>'s Recipes</h1>


  <% if @user.recipes.empty? %>
    <p>You haven't created any recipes.</p> 
  <% else %>
    <ul>
    <% @user.recipes.all.each do |recipe| %>
      <li><%= recipe.name%></li>
    <% end %>
    </ul>
    <p><a href="/recipes/new">Create a new recipe</a></p>
  <% end %>
