<% if flash.has?(:message) %>
  <%= flash[:message] %>
<% end %>

<h1>Sign up for the Recipe Box!</h1>

<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="Username">
  <input type="email" name="email" placeholder="Email">
  <input type="password" name="password" placeholder="Password">

  <button type="submit">Sign Up</button>
</form>

