<h1>Browse your recipes by category:</h1>

<% if @categories.empty? %>
  <p>You don't have any categories. Try <a href="/recipes/new">creating a recipe</a>.</p>
<% else %>
  <ul>
    <% @categories.each do |category| %>
      <li><a href="/categories/<%= category.id %>"><%= category.name.capitalize %></a></li>
    <% end %>
  </ul>
<% end %>